<script type="text/javascript">
function getLocation() {
  if (navigator.geolocation) {
    var locationMarker = null;
    navigator.geolocation.getCurrentPosition{
      function (position) {
        
      }
      function (error) {
        
      }
      {
        timeout: (5 * 1000),
        maximumAge: (1000 * 60 * 15),
        enableHighAccuracy: true
      }
    };
  }
}
</script>

<h1>Select a Venue</h1>

<%= form_tag(nil, :method => "get") do %>
<table>
  <tr>
    <td><%= label_tag(:name, "Name:") %></td>
    <td><%= text_field_tag(:name) %></td>
  </tr>
  <tr>
    <td><%= label_tag(:address, "Address:") %></td>
    <td><%= text_field_tag(:address) %></td>
    <td></td>
  </tr>
</table>

<div class="actions">
  <%= submit_tag("Search") %>
</div>
  
<% end %>
<button onclick="getLocation()">Use current location</button>

<% if @venues && @name && @address%>
<p><%= "Query for '#{@name}' near '#{@address}':"%></p>
<table>
  <% @venues["places"].each do |venue| %>
    <%= form_tag({:action => "set_time"}, :method => "get") do %>
    <tr>
      <%= hidden_field_tag(:venue_id, venue.id) %>
      <td><%= submit_tag("Select") %></td>
      <td><%= image_tag(venue.icon) %></td>  
      <td><%= "#{venue.name}, #{get_venue_address(venue)}" %></td>
    </tr>
    <% end %>
  <% end %>
</table>
<% end %>